#imagem1{
    background-color: rgb(0, 0, 0);
    font-size: 30px;
}
#imagem1 p{
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
#local h1{
    color: black;
}
#local p{
    color: white;
}
.logo{
    width: 10%;
}
body{
    background-color: rgb(59, 59, 59);
}
#local img{
    width: 49%;
}
#local{
    vertical-align: middle;
    display: inline-block;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
}
#txt{
    color: white;
    display: inline-block;
    vertical-align: top;
}