#imagem1{
    background-color: rgb(0, 0, 0);
    font-size: 30px;
}
#imagem1 p{
    display: inline-block;
    vertical-align: top;
}
#local h1{
    color: black;
}
#local p{
    color: white;
}
.logo{
    width: 10%;
}
body{
    background-color: rgb(59, 59, 59);
}
#local img{
    width: 49%;
}
#local{
    vertical-align: top;
    display: inline-block;
}